<template>
    <div class="card-box m-b-0">
        <h4 class="header-title m-t-0 m-b-20">${page.name}</h4>

        <form class="form-horizontal" role="form">
            <div class="form-group" repeat.for="fieldDefinition of pageType.fields">
                <label class="col-md-2 control-label">${fieldDefinition.label}</label>
                <div class="col-md-10">
                    <compose view-model="../field-editors/${fieldDefinition.editorElementName}" model.bind="field(fieldDefinition.key)"></compose>
                </div>
            </div>
        </form>
    </div>
</template>